/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  @apply antialiased;

  color: #ffffff;
  font-size: 1rem;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-corner {
    background: #231f20;
  }

  ::-webkit-scrollbar-track {
    background: #231f20;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6828b1;
    border-radius: 20px;
    border: 3px #6828b1;
  }
}

.Toastify__toast-container {
  z-index: 100000;
}
