/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  @apply antialiased;

  color: #ffffff;
  font-size: 1rem;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-corner {
    background: #231f20;
  }

  ::-webkit-scrollbar-track {
    background: #231f20;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffb5a0;
    border-radius: 20px;
    border: 3px #ffb5a0;
  }
}

.Toastify__toast-container {
  z-index: 100000;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 32px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #57efff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 10000;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #57efff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  right: inherit;
  z-index: 1100;
  width: 300px;
  transition: all 0.5s ease 0s;
  top: 0;
  left: 0;
  max-width: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #57efff;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #57efff;
}

/* Wrapper for item list */
.bm-item-list {
  color: #6cff00;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

.slick-slider {
  height: 100%;
  width: 100%;
}

.slick-slide {
  opacity: 0.6;
}

.center .slick-center {
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  opacity: 1;
}

.slick-slide .container {
  border: 2px solid #62e701;
  box-sizing: border-box;
  border-radius: 50px 0;
}

@media only screen and (max-width: 900px) {
  .slick-slide .container {
    border-radius: 30px 0;
  }
}

@media only screen and (max-width: 400px) {
  .slick-slide .container {
    border-radius: 20px 0;
  }
}
